In [450]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

## This script contains the following:
1. Importing Visualization Libraries and DataÂ¶
2. Data Cleaning

In [452]:
import os

# Define the directory where your CSV is stored
data_dir = "/Users/sharonthapa/Global Happiness_ST/Data/Raw/"

In [454]:
# Define the correct file path for the dataset
file_path = "/Users/sharonthapa/Global Happiness_ST/Data/Raw/Global Happiness_ST_RAW.csv"

In [456]:
# Load the dataset
df = pd.read_csv(file_path)

In [458]:
# The first few rows
display(df.head())

,Country,Region,Year,Happiness Rank,Happiness Score,GDP per Capita,Family,Health (Life Expectancy),Freedom,Trust in Government,Generosity,Social Support
0,Afghanistan,Southern Asia,2015.0,153.0,3.575,0.320,0.303,0.303,0.234,0.097,0.365,NaN
1,Albania,Central and Eastern Europe,2015.0,95.0,4.959,0.879,0.804,0.813,0.357,0.064,0.143,NaN
2,Algeria,Middle East and Northern Africa,2015.0,68.0,5.605,0.939,1.078,0.618,0.286,0.174,0.078,NaN
3,Angola,Sub-Saharan Africa,2015.0,137.0,4.033,0.758,0.860,0.167,0.104,0.071,0.123,NaN
4,Argentina,Latin America and Caribbean,2015.0,30.0,6.574,1.054,1.248,0.787,0.450,0.085,0.115,NaN

In [460]:
# Check for missing values
print(df.isnull().sum())

Country                       3
Region                        3
Year                          3
Happiness Rank                3
Happiness Score               3
GDP per Capita                3
Family                       70
Health (Life Expectancy)      3
Freedom                       3
Trust in Government           4
Generosity                    3
Social Support              473
dtype: int64

In [462]:
# Drop missing value 'Social Support'
df = df.drop('Social Support', axis=1)

In [464]:
# Drop missing value 'Social Support'
df = df.drop('Family', axis=1)

In [466]:
# Check for duplicate rows
duplicates = df.duplicated().sum()

In [468]:
# Remove duplicates if any
df = df.drop_duplicates()

In [474]:
# Check for missing values
print(df.isnull().sum())

Country                     1
Region                      1
Year                        1
Happiness Rank              1
Happiness Score             1
GDP per Capita              1
Health (Life Expectancy)    1
Freedom                     1
Trust in Government         2
Generosity                  1
dtype: int64

In [476]:
#locate missing values
df[df.isnull().any(axis=1)]

,Country,Region,Year,Happiness Rank,Happiness Score,GDP per Capita,Health (Life Expectancy),Freedom,Trust in Government,Generosity
574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
616,United Arab Emirates,Middle East and Northern Africa,2018.0,20.0,6.774,2.096,0.67,0.284,NaN,0.186

In [480]:
# Check for missing values
print("\nMissing values per column:")
print(df.isnull().sum())

# Drop missing values
df = df.dropna()

Missing values per column:
Country                     0
Region                      0
Year                        0
Happiness Rank              0
Happiness Score             0
GDP per Capita              0
Health (Life Expectancy)    0
Freedom                     0
Trust in Government         0
Generosity                  0
dtype: int64

In [482]:
# Check data types of columns
print("\nData types of each column:")
print (df.dtypes)

Data types of each column:
Country                      object
Region                       object
Year                        float64
Happiness Rank              float64
Happiness Score             float64
GDP per Capita              float64
Health (Life Expectancy)    float64
Freedom                     float64
Trust in Government         float64
Generosity                  float64
dtype: object

In [484]:
print(df.columns)

Index(['Country', 'Region', 'Year', 'Happiness Rank', 'Happiness Score',
       'GDP per Capita', 'Health (Life Expectancy)', 'Freedom',
       'Trust in Government', 'Generosity'],
      dtype='object')

In [486]:
# Ensure numerical columns are in correct format
num_columns = ['Happiness Score', 'GDP per Capita', 'Health (Life Expectancy)']

In [488]:
# Display summary statistics
print("\nSummary statistics:")
display(df.describe())

Summary statistics:

,Year,Happiness Rank,Happiness Score,GDP per Capita,Health (Life Expectancy),Freedom,Trust in Government,Generosity
count,779.000000,779.000000,779.000000,779.000000,779.000000,779.000000,779.000000,779.000000
mean,2016.988447,78.818999,5.376207,0.913680,0.611412,0.411142,0.125344,0.218710
std,1.417344,45.211151,1.128333,0.405586,0.248061,0.153088,0.105932,0.122552
min,2015.000000,1.000000,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2016.000000,40.000000,4.508500,0.604000,0.440000,0.310000,0.054000,0.130000
50%,2017.000000,79.000000,5.314000,0.981000,0.647000,0.431000,0.091000,0.202000
75%,2018.000000,118.000000,6.187000,1.233500,0.808000,0.531000,0.155500,0.279500
max,2019.000000,158.000000,7.769000,1.871000,1.141000,0.724000,0.552000,0.838000

In [490]:
# Display first few rows to verify
print("\nâ First five rows of the dataset:")
display(df.head())

â First five rows of the dataset:

,Country,Region,Year,Happiness Rank,Happiness Score,GDP per Capita,Health (Life Expectancy),Freedom,Trust in Government,Generosity
0,Afghanistan,Southern Asia,2015.0,153.0,3.575,0.320,0.303,0.234,0.097,0.365
1,Albania,Central and Eastern Europe,2015.0,95.0,4.959,0.879,0.813,0.357,0.064,0.143
2,Algeria,Middle East and Northern Africa,2015.0,68.0,5.605,0.939,0.618,0.286,0.174,0.078
3,Angola,Sub-Saharan Africa,2015.0,137.0,4.033,0.758,0.167,0.104,0.071,0.123
4,Argentina,Latin America and Caribbean,2015.0,30.0,6.574,1.054,0.787,0.450,0.085,0.115

In [492]:
# Save the cleaned dataset
cleaned_file_path = "/Users/sharonthapa/Global Happiness_ST/Data/Cleaned/happiness_report_cleaned.csv"
df.to_csv(cleaned_file_path, index=False)